# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: GPL-2.0-only

[Unit]
Description=Ethernet SDK DLKM
DefaultDependencies=no
After=sysinit.target
Before=basic.target

[Service]
Type=oneshot
Restart=no
RemainAfterExit=yes
ExecStart=/bin/sh -c 'echo -n "Starting/Loading Data-ETH modules: " '
ExecStart=-/bin/sh -c 'insmod /usr/lib/modules/$(uname -r)/extra/drivers/ethdbg/ethdbg.ko'
ExecStart=-/bin/sh -c 'echo -n eth0 > /sys/module/ethdbg/parameters/interface_name'
ExecStart=-/bin/sh -c 'echo -n eth1 > /sys/module/ethdbg/parameters/interface_name'
ExecStart=/sbin/modprobe stmmac_ioss
ExecStop=/bin/sh -c 'echo -n "Stopping/Unloading Data-ETH modules: " '
ExecStop=/sbin/modprobe -r stmmac_ioss
ExecStop=-/sbin/rmmod ethdbg

[Install]
WantedBy=multi-user.target
