# SPDX-License-Identifier: GPL-2.0-only

config EMAC_CTRL_FE
	tristate "EMAC Control Front End"
	depends on ARCH_QCOM
	help
		Emac Control Front end driver.
		This provides an interface for the thin driver
		to interact with the dma_be driver present at the
		qnx side to enable DMA Virtualization.

		Say Y here to compile support for Emac Front End Driver driver
		into the kernel or say M to compile as a module.
