# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: GPL-2.0-only

[Unit]
Description=Ethernet SDK DLKM
DefaultDependencies=no
After=sysinit.target
Before=basic.target

[Service]
Type=oneshot
Restart=no
RemainAfterExit=yes
ExecStart=/bin/sh -c 'echo -n "Starting/Loading Data-ETH modules: " '
ExecStart=-/bin/sh -c 'insmod /usr/lib/modules/$(uname -r)/extra/drivers/ethdbg/ethdbg.ko'
ExecStart=-/bin/sh -c 'insmod /usr/lib/modules/$(uname -r)/extra/drivers/qca-nss-phy/linux_std/qca81xx/qca81xx-phy.ko'
ExecStart=/bin/sh -c 'insmod /usr/lib/modules/$(uname -r)/extra/drivers/ioss/ioss.ko'
ExecStart=/bin/sh -c 'insmod /usr/lib/modules/$(uname -r)/extra/drivers/stmmac_ioss/stmmac_ioss.ko'
ExecStart=/bin/sh -c 'insmod /usr/lib/modules/$(uname -r)/extra/drivers/eth_qos/eth_qos.ko'
ExecStop=/bin/sh -c 'echo -n "Stopping/Unloading Data-ETH modules: " '
ExecStop=/sbin/rmmod eth_qos
ExecStop=/sbin/rmmod stmmac_ioss
ExecStop=/sbin/rmmod ioss
ExecStop=-/sbin/rmmod qca81xx-phy
ExecStop=-/sbin/rmmod ethdbg

[Install]
WantedBy=multi-user.target
